/*
 * -------------------------------------------------------------------------------------
 *
 * Elements of the interface features like titles, buttons, forms, and dialogs
 *
 * -------------------------------------------------------------------------------------
*/




	// Titles
	// -------------------------

	h1, h2, h3, h4, h5, h6 {
		color:@black;
	}



	// Links
	// -------------------------

	a, a:visited {
		color:@black;
		text-decoration:none;
	}

	a:hover {
		text-decoration:underline;
	}



	// Icons
	// -------------------------

	.icon {

		&.github-white {
			.sprite(@icon-github-white);
		}
		&.github-gray {
			.sprite(@icon-github-gray);
		}
		&.github-black {
			.sprite(@icon-github-black);
		}


		&.twitter-white {
			.sprite(@icon-twitter-white);
		}
		&.twitter-gray {
			.sprite(@icon-twitter-gray);
		}
		&.twitter-black {
			.sprite(@icon-twitter-black);
		}


		&.linkedin-white {
			.sprite(@icon-linkedin-white);
		}
		&.linkedin-gray {
			.sprite(@icon-linkedin-gray);
		}
		&.linkedin-black {
			.sprite(@icon-linkedin-black);
		}


		&.facebook-white {
			.sprite(@icon-facebook-white);
		}
		&.facebook-gray {
			.sprite(@icon-facebook-gray);
		}
		&.facebook-black {
			.sprite(@icon-facebook-black);
		}


		&.pinterest-white {
			.sprite(@icon-pinterest-white);
		}
		&.pinterest-gray {
			.sprite(@icon-pinterest-gray);
		}
		&.pinterest-black {
			.sprite(@icon-pinterest-black);
		}


		&.search-white {
			.sprite(@icon-search-white);
		}
		&.search-gray {
			.sprite(@icon-search-gray);
		}
		&.search-black {
			.sprite(@icon-search-black);
		}

	}