.wrapper {
	.max-width(900px);
	margin:auto;
	position: relative;
}


.wrapper-content:extend(.wrapper) {
	.max-width(600px);
	float: left;
}



.wrapper-sidebar:extend(.wrapper) {
	.max-width(290px);
	.margin-left(610px);
	.padding-top(10px);
}


@media @tablet {
	.wrapper {
		.width(100%);
	}


	.wrapper-content:extend(.wrapper) {
		float:none;
		.width(100%);
	}



	.wrapper-sidebar:extend(.wrapper) {
		.width(100%);
		.max-width(600px);
		.margin-left(0);
		.padding-top(0);
		margin:auto;
	}
}